.arianeBg {
  width: 100%;
  height: 100%;
  background: #15185C;
  position: relative;
  overflow-x: hidden;
}

.dummy-ref__sesame {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50%;
  height: 50px;
  z-index: -1;
}

.arianeBg__container {
  width: 95%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.arianeBg__container__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .title {
    background: white;
    padding-block: 3.1rem;
    width: 979px;
    text-align: center;

    @media screen and (max-width: 1041px) {
      width: 749px;
    }

    @media screen and (max-width: 813px) {
      width: 649px;
    }

    @media screen and (max-width: 699px) {
      width: 549px;
    }

    @media screen and (max-width: 593px) {
      width: 349px;
    }

    @media screen and (max-width: 383px) {
      width: 300px;
    }
  }


  h2 {
    flex-direction: row;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;
    line-height: 1;
    position: relative;

    @media screen and (max-width: 1041px) {
      font-size: 15rem;
    }

    @media screen and (max-width: 813px) {
      font-size: 10rem;
    }

    @media screen and (max-width: 699px) {
      font-size: 9rem;
    }

    @media screen and (max-width: 593px) {
      font-size: 7rem;
    }

    @media screen and (max-width: 383px) {
      font-size: 6rem;
    }
  }

  strong {
    margin-top: 0;
    margin-bottom: 0;
    transform: rotate(90deg);
    margin-left: 6.76rem;
    position: absolute;
    right: 14%;

    @media screen and (max-width: 593px) {
      right: 8%;
      width: 50px;
    }
  }
}

.border-white__title {
  position: absolute;
  border: 1px solid white;
  z-index: 0;
  bottom: -5%;
  right: -2%;
  width: 98%;
  height: 278px;

  @media screen and (max-width: 1041px) {
    height: 226px;
  }

  @media screen and (max-width: 813px) {
    height: 193px;
  }

  @media screen and (max-width: 699px) {
    height: 171px;
  }

  @media screen and (max-width: 383px) {
    height: 146px;
  }
}

.border-top {
  border-left: 10px solid;
  border-right: 10px solid;
  border-color: white;
  height: 70px;
  width: 855px;

  @media screen and (max-width: 1041px) {
    width: 655px;
  }

  @media screen and (max-width: 813px) {
    width: 545px;
  }

  @media screen and (max-width: 699px) {
    width: 445px;
  }

  @media screen and (max-width: 593px) {
    width: 345px;
  }

  @media screen and (max-width: 593px) {
    width: 245px;
  }

  @media screen and (max-width: 493px) {
    height: 48px;
  }

  @media screen and (max-width: 383px) {
    height: 32px;
  }
}

.ariane__logo__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6.7rem;

  @media screen and (max-width: 593px) {
    max-width: 400px;
  }

  @media screen and (max-width: 493px) {
    max-width: 300px;
  }
}

.ariane__logo {
  position: absolute;
  inset: 0;
  margin: auto;

  @media screen and (max-width: 493px) {
    width: 150px;
  }
}

.space__ship {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
}

.space__ship__bg {
  background: linear-gradient(180deg, rgba(29,23,56,1) 0%, rgba(21,24,92,1) 50%, rgba(86,168,170,1) 100%);
  width: 100%;
  height: 200%;
  position: absolute;
  bottom: 0;
}

.sesameImg {
  position: relative;
  z-index: 2;
  height: 550px;
  width: 550px;
  background: url('../../../img/logo_sesame.png') no-repeat 0 0;
}

.sesame-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.sesame-logo__static {
  max-width: 450px;

  @media screen and (max-width: 450px) {
    max-width: 350px;
  }

  @media screen and (max-width: 350px) {
    max-width: 300px;
  }
}

.sesame__title {
  font-size: 12rem;
  color: white;
  font-weight: 900;
  text-transform: uppercase;

  @media screen and (max-width: 500px) {
    font-size: 8rem;
  }

  @media screen and (max-width: 350px) {
    font-size: 6rem;
  }
}

.launcher {
  position: absolute;
  inset: 0;
  margin: auto;
  top: unset;
  bottom: 0;
  left: -22%;
  animation: shake 0.8s infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  z-index: 99;

  @media screen and (max-width: 650px) {
    display: none;
  }
}

.smoke-one {
  position: absolute;
  inset: 0;
  margin: auto;
  bottom: -99%;
  left: 1%;
  z-index: 100;
}

.movingStrarShip__wrapper {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 153.66px;
  height: 648px;
  bottom: -9%;
}

.movingStarShip {
  animation: shakeX 0.8s infinite;
  transform: translateX(0);
  perspective: 1000px;
  backface-visibility: hidden;
  margin: auto;
  width: 153.66px;
  height: 648px;
}

.movingStarShip__container {
  margin: auto;
  width: 154px;
  height: 1000px;
}

.movingship__container {
  position: absolute;
  z-index: 3;
  width: 100%;
  inset: 0;
  margin: auto;
  .movingStarShip {
    position: absolute;
    inset: 0;
    bottom: -32%;
    left: 1%;

    @media screen and (max-width: 1666px) {
      left: 8%;
    }

    @media screen and (max-width: 1553px) {
      left: 15%;
    }

    @media screen and (max-width: 1471px) {
      left: 20%;
    }

    @media screen and (max-width: 1399px) {
      left: 25%;
    }

    @media screen and (max-width: 1310px) {
      left: 32%;
    }

    @media screen and (max-width: 1210px) {
      left: 40%;
    }

    @media screen and (max-width: 1110px) {
      left: 45%;
    }

    @media screen and (max-width: 1000px) {
      left: 55%;
    }

    @media screen and (max-width: 900px) {
      left: 65%;
    }

    @media screen and (max-width: 750px) {
      left: 75%;
    }

    @media screen and (max-width: 650px) {
      right: 0;
      left: 0;
    }
  }
}

.reactor-right__container, .reactor-left__container {
  animation: shake 0.8s infinite;
  width: 40px;
  height: 200px;
  position: absolute;
  top: 72% !important;
  bottom: unset !important;
}

.reactor-left__container {
  left: 47.2%;

  @media screen and (max-width: 1862px) {
    left: 46.8%;
  }

  @media screen and (max-width: 1811px) {
    left: 47%;
  }

  @media screen and (max-width: 1666px) {
    left: 47.3%;
  }

  @media screen and (max-width: 1553px) {
    left: 48%;
  }

  @media screen and (max-width: 1399px) {
    left: 48.5%;
  }

  @media screen and (max-width: 1310px) {
    left: 49.5%;
  }

  @media screen and (max-width: 1210px) {
    left: 50.5%;
  }

  @media screen and (max-width: 1110px) {
    left: 51.5%;
  }

  @media screen and (max-width: 1000px) {
    left: 52.5%;
  }

  @media screen and(max-width: 900px) {
    left: 54.5%;
  }

  @media screen and (max-width: 750px) {
    left: 57.5%;
  }

  @media screen and (max-width: 650px) {
    left: -13%;
    right: 0;
    margin: auto;
  }

  @media screen and (max-width: 400px) {
    left: -19%;
  }
}

.reactor-right__container {
  right: 47.2%;
  left: unset;

  @media screen and (max-width: 1862px) {
    right: 46.8%;
  }

  @media screen and (max-width: 1666px) {
    right: 45.8%;
  }

  @media screen and (max-width: 1553px) {
    right: 44.8%;
  }

  @media screen and (max-width: 1471px) {
    right: 43.8%;
  }

  @media screen and (max-width: 1399px) {
    right: 42.8%;
  }

  @media screen and (max-width: 1310px) {
    right: 41.8%;
  }

  @media screen and (max-width: 1210px) {
    right: 39.8%;
  }

  @media screen and (max-width: 1110px) {
    right: 38.8%;
  }

  @media screen and (max-width: 1000px) {
    right: 35.8%;
  }

  @media screen and (max-width: 900px) {
    right: 31.8%;
  }

  @media screen and (max-width: 800px) {
    right: 29.8%;
  }

  @media screen and (max-width: 750px) {
    right: 26.8%;
  }

  @media screen and (max-width: 650px) {
    right: -13%;
    left: 0;
    margin: auto;
  }

  @media screen and (max-width: 400px) {
    right: -19%;
  }
}

.reactor {
  width: 40px;
}

.to__space__container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  margin: auto;
  z-index: 2;
}

.star__canvas__container {
  height: 100%;
  position: relative;
  z-index: 1;
}

.sesame__logo {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  display: flex;
  justify-content: center;
  align-items: center;

  .moon__hexagone canvas {
    position: relative;
    z-index: 99;
  }
}

.moon__container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.top-wave {
  position: absolute;
  top: 8%;
  right: 5%;
}

.moon__hexagone {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.big__hexagone {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  margin: auto;
}

.null__container {
  width: 20px;
  height: 20px;
  position: absolute;
  inset: 0;
  margin: auto;
  background: transparent;
  border: none;
  pointer-events: none;
  z-index: 100
}

.bottom-wave {
  position: absolute;
  bottom: 8%;
  left: 5%;
}

.star__container__moon {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
}

.wave {
  width: 192px;
  height: 37px;
}

.star__background__image {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background: url('../../../img/stars.jpg') no-repeat 0 0;
}

.star__canvas__container .star__background__image {
  background: none;
}

.static__moon__container {
  position: absolute;
  width: 100%;
  inset: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  overflow: hidden;

  .star__background__image {
    position: absolute;
    inset: 0;
    z-index: 0;
  }

  .moon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.dummy__container {
  position: absolute;
  z-index: -1;
  pointer-events: none;
  width: 50%;
  margin: auto;
  inset: 0;
}

.orange-wave {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 192px;
  height: 37px;
}

.moon-year {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 567px;

  &__container {
    width: 100%;
    height: 100%;
  }
}

.bigMoon {
  transform: scale(6)
}

.static__moon__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.trio-employee__slide {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.trio-employee__container {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  margin: auto;
  z-index: 101;
  top: 27%;
  left: -5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trio-employee {
  position: absolute;
  width: 330px;

  &.gregoire-cosmonaute {
    left: 34%;
    top: 34%;
    width: 220px;
  }

  &.anais-cosmonaute {
    left: 45%;
    top: 38%;
    width: 250px;
  }

  &.zoe-cosmonaute {
    right: 30%;
    top: 36%;
    width: 235px;
  }
}

.employee {
  position: absolute;
  background: white;
  font-family: 'Exo', Arial, sans-serif;
  padding-inline: 2.5rem;
  font-size: 5.6rem;
  font-weight: 900;

  &.gregoire {
    left: 26%;
    top: 29%;
  }

  &.anais {
    top: 30%;
    left: 45%;
  }

  &.zoe {
    right: 25%;
    top: 32%;
  }
}

.dynamic__smoke {
  width: 800px;
  height: 350.17px;
  background: url('../../../img/fumée.png') no-repeat 0 0;
  position: absolute;
  bottom: -12%;
  left: 30%;

  @media screen and (max-width: 1800px) {
    left: 29%;
  }

  @media screen and (max-width: 1750px) {
    left: 28%;
  }

  @media screen and (max-width: 1700px) {
    left: 27%;
  }

  @media screen and (max-width: 1550px) {
    left: 26%;
  }

  @media screen and (max-width: 1400px) {
    left: 25%;
  }

  @media screen and (max-width: 1350px) {
    left: 24%;
  }

  @media screen and (max-width: 1250px) {
    left: 23%;
  }

  @media screen and (max-width: 1150px) {
    left: 22%;
  }

  @media screen and (max-width: 1050px) {
    left: 20%;
  }

  @media screen and (max-width: 950px) {
    left: 18%;
  }

  @media screen and (max-width: 850px) {
    left: 16%;
  }

  @media screen and (max-width: 800px) {
    left: 14%;
  }

  @media screen and (max-width: 700px) {
    left: 11%;
  }

  @media screen and (max-width: 650px) {
    left: -10%;
  }

  @media screen and (max-width: 600px) {
    left: -15%;
  }

  @media screen and (max-width: 550px) {
    left: -20%;
  }

  @media screen and (max-width: 500px) {
    left: -27%;
  }

  @media screen and (max-width: 450px) {
    left: -35%;
  }

  @media screen and (max-width: 400px) {
    left: -47%;
  }

  @media screen and (max-width: 380px) {
    left: -52%;
  }

  @media screen and (max-width: 370px) {
    left: -53%;
  }

  @media screen and (max-width: 360px) {
    left: -56%;
  }

  @media screen and (max-width: 350px) {
    left: -59%;
  }

  @media screen and (max-width: 340px) {
    left: -63%;
  }

  @media screen and (max-width: 330px) {
    left: -66%;
  }

  @media screen and (max-width: 320px) {
    left: -69%;
  }
}

.reactor-fire {
  width: 150px;
  height: 550px;
  background: url('../../../img/feu_fusee.png') no-repeat 0 0;
  position: absolute;
  bottom: -98%;
  left: 2%;

  @media screen and (max-width: 1666px) {
    left: 8%;
  }

  @media screen and (max-width: 1553px) {
    left: 15%;
  }

  @media screen and (max-width: 1471px) {
    left: 20%;
  }

  @media screen and (max-width: 1399px) {
    left: 25%;
  }

  @media screen and (max-width: 1310px) {
    left: 32%;
  }

  @media screen and (max-width: 1210px) {
    left: 40%;
  }

  @media screen and (max-width: 1110px) {
    left: 45%;
  }

  @media screen and (max-width: 1000px) {
    left: 55%;
  }

  @media screen and (max-width: 900px) {
    left: 65%;
  }

  @media screen and (max-width: 750px) {
    left: 75%;
  }

  @media screen and (max-width: 650px) {
    right: 0;
    left: 0;
  }
}

.transparent-stars {
  width: 100%;
  height: 100%;
  background: url('../../../img/stars-deux.png') no-repeat 0 0;
  position: absolute;
  inset: 0;
  margin: auto;
}

.roadCar__container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.dummy-view {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-4px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(4px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes shakeX {
  10%, 90% {
    transform: translateX(-4px);
  }

  20%, 80% {
    transform: translateX(4px);
  }

  30%, 50%, 70% {
    transform: translateX(-4px);
  }

  40%, 60% {
    transform: translateX(4px);
  }
}




