.pepiniere {
  display: grid;
  grid-template-columns: 0.25fr 0.75fr;
  justify-items: center;
  align-items: center;
  overflow-x: hidden;

  @media screen and (max-width: 1000px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .creationAgence__left__title {
      width: 100%;
    }

    .orangeArrow {
      transform: rotate(90deg);
    }

    .creationAgence__left__border {
      width: 100%;
      bottom: -5%;
      right: 0;
      border-bottom: 1px solid;
      border-right: none;
      border-left: none;
    }
  }

  .creationAgence__left {
    @media screen and (max-width: 416px) {
      margin-top: 0;
    }
  }
    h2 {
      @media screen and (max-width: 1894px) {
        font-size: 15.6rem;
      }
      @media screen and (max-width: 1000px) {
        flex-direction: row;
      }
      @media screen and (max-width: 416px) {
        font-size: 10rem;
      }
    }
}

.translate__creation {
  align-self: end;
  justify-self: start;
}

.ref__div {
  position: absolute;
  width: 90%;
  height: 30%;
  margin: auto;
  inset: 0;
}



.pepiniere__reveal, .pepiniere {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  margin: auto;
}

.pepiniere__reveal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
}

.pepiniere__reveal__container-circle {
  width: 713px;
  height: 713px;
  position: relative;
  z-index: 1;

  @media screen and (max-width: 1300px) {
    width: 513px;
    height: 513px;
  }

  @media screen and (max-width: 900px) {
    width: 413px;
    height: 413px;
  }

  @media screen and (max-width: 420px) {
    width: 313px;
    height: 313px;
  }
}

.pepiniere__reveal__whiteCircle {
  background: white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 2em;
  position: absolute;
  inset: 0;
  margin: auto;
  z-index: 1;

  .logo-btg {
    width: 152px;

    @media screen and (max-width: 1300px) {
      width: 110px;
    }
    @media screen and (max-width: 900px) {
      width: 60px;
    }

  }
}

.trioBtg {
  max-width: 550px;

  @media screen and (max-width: 1300px) {
    max-width: 329px;
  }

  @media screen and (max-width: 420px) {
    max-width: 225px;
  }
}

.map {
  position: absolute;
  top: -15%;
  right: -19%;
}

.orangeCircle {
  background: transparent;
  border: 1px solid white;
  position: absolute;
  border-radius: 50%;
  z-index: 0;
  top: 45%;
  right: 53%;
  display: flex;
  justify-content: center;
  align-items: center;

  .inner__circle {
    background: #FF3500;
    width: 90%;
    height: 90%;
    margin: auto;
    border-radius: 50%;
    position: relative;

    img {
      position: absolute;
      bottom: 15%;
      left: 15%;
    }
  }

  &.second {
    left: 53%;
    right: unset;
    top: unset;
    bottom: 45%;
  }
}

.pepiniere__page {
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.pepiniere__right {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100%;
  margin: auto;
}

.pepiniere__right__cirlce-container {
  height: 543px;
  width: 543px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 583px) {
    width: 443px;
    height: 443px;
  }
  @media screen and (max-width: 468px) {
    width: 300px;
    height: 300px;
  }
}

.masque {
  position: absolute;
  width: 543px;
  height: 100px;
  bottom: 14.5%;
  z-index: 99;

  @media screen and (max-width: 583px) {
    bottom: 10.5%;
    width: 443px;
  }
  @media screen and (max-width: 468px) {
    bottom: -0.5%;
    width: 300px;
  }
}

.pepiniere__right__circle {
  background: white;
  border-radius: 50%;
  transform-style: preserve-3d;
  transform: rotateX(70deg);
}


.seed-container {
  position: absolute;
  z-index: 2;
  width: 100%;

  img.seed-img {
    position: absolute;
    margin: auto;
    left: 44%;

    @media screen and (max-width: 360px) {
      left: 35%;
    }
  }

  div.seed-img {
    position: absolute;
    margin: auto;

    &:first-of-type {
      inset: 0;
      top: unset;
      bottom: -33px;
      @media screen and (max-width: 583px) {
        bottom: -42px;
      }
      @media screen and (max-width: 468px) {
        bottom: -80px;
      }
    }

    &:nth-of-type(2) {
      top: unset !important;
      bottom: -33px;
      @media screen and (max-width: 583px) {
        bottom: -42px;
      }
      @media screen and (max-width: 468px) {
        bottom: -80px;
      }
    }

    &:nth-of-type(3) {
      top: unset !important;
      bottom: -33px;
      @media screen and (max-width: 583px) {
        bottom: -42px;
      }
      @media screen and (max-width: 468px) {
        bottom: -80px;
      }
    }

    &:nth-of-type(4) {
      top: unset !important;
      bottom: -33px;
      @media screen and (max-width: 583px) {
        bottom: -42px;
      }
      @media screen and (max-width: 468px) {
        bottom: -80px;
      }
    }
  }
}

.pepiniere__reveal__text {
  position: absolute;
  background: black;
  color: white;
  padding: 30px 45px;
  font-size: 1.9rem;
  font-weight: 300;
  font-family: 'Exo', 'Arial', sans-serif;
  top: 10%;
  left: 3%;
  z-index: 2;
  max-width: 35%;

  @media screen and (max-width: 1300px) {
    top: 3%;
  }

  @media screen and (max-width: 1200px) {
    max-width: 39%;
  }

  @media screen and (max-width: 1000px) {
    max-width: 94%;
  }

  @media screen and (max-width: 500px) {
    padding: 20px 35px;

    p {
      font-size: 1.6rem;
    }
  }

  &::after {
    position: absolute;
    content: '';
    border-right: 1px solid transparent;
    border-left: 64px solid transparent;
    border-top: 46px solid black;
    bottom: -26%;
    right: 0;

    @media screen and (max-width: 1500px) {
      bottom: -22%;
    }
    @media screen and (max-width: 1300px) {
      bottom: -20%;
    }
    @media screen and (max-width: 1200px) {
      bottom: -17%;
    }

    @media screen and (max-width: 1000px) {
      display: none;
    }
  }
}

.hexa__container {
  position: absolute;
  bottom: -27%;
  left: 5%;
  display: flex;

  @media screen and (max-width: 340px) {
    display: none;
  }

  .img:not(:last-of-type) {
    margin-right: 0.4em;
  }
}

.left-map {
  position: absolute;
  left: -5%;
  bottom: -55%;

  @media screen and (max-width: 1100px) {
    left: -16%;
  }

  @media screen and (max-width: 1000px) {
    left: 12%;
  }

  @media screen and (max-width: 700px) {
    bottom: -16%;
  }

  @media screen and (max-width: 420px) {
    bottom: 1%;
  }
}

.pin-left {
  position: absolute;
  top: 51%;
  right: 48%;
}

.right-map {
  position: absolute;
  right: -4%;
  top: -38%;

  @media screen and (max-width: 1200px) {
    right: -9%;
  }

  @media screen and (max-width: 1100px) {
    right: -16%;
  }

  @media screen and (max-width: 1000px) {
    right: -3%;
    top: 68%;
    img {
      display: none;
    }
  }

  @media screen and (max-width: 600px) {
    right: -9%;
    top: 71%;
  }
}

.pin-right {
  position: absolute;
  top: 55%;
  left: 46%;
}

.title-reveal {
  position: absolute;
  font-size: 14.1rem;
  font-family: 'Exo', 'Arial', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 0.8;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  max-width: 443px;

  &:nth-of-type(2n) {
    margin-top: 0.8em;

    @media screen and (max-width: 800px) {
      margin-top: 0.5em;
    }
  }

  span {
    margin-top: 0.1em;
  }

  &.left {
    top: 20%;
    right: 21%;

    @media screen and (max-width: 1600px) {
      right: 28%;
    }
    @media screen and (max-width: 1500px) {
      right: 37%;
    }
    @media screen and (max-width: 1400px) {
      right: 51%;
    }
    @media screen and (max-width: 1100px) {
      right: 39%;
    }

    @media screen and (max-width: 1000px) {
      right: 78%;
    }

    @media screen and (max-width: 900px) {
      top: 42%;
      right: 75%;
    }

    @media screen and (max-width: 800px) {
      top: 36%;
      right: 71%;
    }

    @media screen and (max-width: 700px) {
      top: 26%;
      right: 66%;
    }

    @media screen and (max-width: 600px) {
      top: 55%;
      right: 59%;
    }

    @media screen and (max-width: 500px) {
      top: 48%;
      right: 64%;
    }

    @media screen and (max-width: 480px) {
      top: 45%;
    }

    @media screen and (max-width: 450px) {
      top: 41%;
      right: 61%;
    }

    @media screen and (max-width: 420px) {
      top: 60%;
      right: 57%;
    }

    @media screen and (max-width: 380px) {
      top: 56%;
      right: 51%;
    }

    @media screen and (max-width: 360px) {
      top: 54%;
      right: 47%;
    }

    @media screen and (max-width: 340px) {
      top: 40%;
      right: 37%;
    }
  }

  &.right {
    top: 80%;
    right: 28%;

    @media screen and (max-height: 886px) {
      top: 70%;
    }
    @media screen and (max-width: 1800px) {
      right: 13%;
    }
    @media screen and (max-width: 1600px) {
      right: 9%;
    }
    @media screen and (max-width: 1100px) {
      right: 22%;
    }

    @media screen and (max-width: 600px) {
      right: 10%;
      top: 90%;
    }
  }
}

@keyframes wave {
  0% {
    x: -400px;
    y: 50px;

  }
  100% {
    x: 0;
    y: 50px;
  }
}


.water-fill {
  animation: wave 1.4s infinite linear;
  position: relative;
}

svg .use {
  stroke: #000000;
  stroke-width: 3px;
  position: relative;
}
