.WebMotion {
  background: #FCD647;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

.date__hexa__container {
  display: flex;
  gap: 0.6em;
}

.date__container {
  display: grid;
  grid-template-columns: 0.35fr 0.65fr;
  align-items: center;
  justify-content: start;
  width: 90%;
  margin: auto;
  height: 100%;
  position: absolute;
  inset: 0;
}

.date__left {
  position: relative;
  max-height: 90%;
  width: 513px;

  .creationAgence__left__border {
    bottom: -5.4%;
    height: 100%;
  }
}

.codeTyping {
  background: white;
  color: #E3775B;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  inset: 0;

  p {
    font-size: 7.6rem;
    font-family: 'Exo', 'Arial', sans-serif;
    font-weight: 900;
    text-align: center;
    max-width: 75%;
    margin-inline: auto;
  }
}

.codeTyping__container {
  width: 95%;
  margin: auto;
}

.blueBg {
  background: #15185C;
  width: 100%;
  height: 955px;
  position: absolute;
  top: 0;

  .date__left {
    position: absolute;
    left: 0;
    top: 65%;
  }

  .creationAgence__left__border {
    border-bottom: 1px solid;
    border-color: white;
    height: 100%;
    bottom: -6.4%;
    width: 92%;
  }
}

.blueBg__container {
  width: 100%;
  height: 257%;
  background: #15185C;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  p {
    font-size: 1.9rem;
    font-weight: 300;
  }
}

.arrivee__bottom {
  position: absolute;
  bottom: -157%;
  left: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.building__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    color: black;
    background: white;
    font-size: 1.9rem;
    font-weight: 700;
    padding: 30px 40px;
  }
}

.building__container__text {
  margin-top: 31px;
  position: relative;

  img:first-of-type {
    position: absolute;
    top: -28%;
    left: 8%;
  }

  img:last-of-type {
    position: absolute;
    top: -28%;
    right: 8%;
  }
}

.circle__container {
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  .circle {
    background: #E3775B;
    width: 80%;
    height: 80%;
    border-radius: 50%;
  }
}

.trace-bas {
  position: relative;
  bottom: -34px;
  left: 32px;
}

.cube__container {
  margin-left: 4.6rem;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 20px;
    height: 20px;
  }

  img:not(:last-of-type) {
    margin-right: 0.3em;
  }
}

.yellow-circle {
  margin: auto;
  border-radius: 50%;
  background: #FCD647;
  width: 677px;
  height: 677px;
}

.chemin {
  position: absolute;
  bottom: -134%;
  right: 5%;
}

.building-bottom {
  width: 300px;
  height: 300px;
}

.yellow-animation {
  width: 677px;
  height: 677px;
}