.WebMotion {
  background: #FCD647;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;

  h2 {
    @media screen and (max-height: 886px) {
      font-size: 16.6rem;
    }
  }
}

.date__hexa__container {
  display: flex;
  gap: 0.6em;

  @media screen and (max-width: 898px) {
    display: none;
  }
}

.web-motion__dummy-ref {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50%;
  height: 50px;
  z-index: -1;
}

.date__container {
  display: grid;
  grid-template-columns: 0.35fr 0.65fr;
  align-items: center;
  justify-content: start;
  width: 90%;
  margin: auto;
  height: 100%;
  position: absolute;
  inset: 0;

  @media screen and (max-width: 898px) {
    width: 100%;
    margin: unset;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  h2 {
    @media screen and (max-width: 771px) {
      flex-direction: column;
    }
  }

  .creationAgence__left__border {
    @media screen and (max-width: 771px) {
      border-bottom: unset;
      border-right: 1px solid;
      right: -5%;
    }
  }
}

.traceTop {
  @media screen and (max-width: 1500px) {
    width: 845px;
    position: absolute;
    top: -187%;
    right: 8%;
  }

  @media screen and (max-width: 1300px) {
    width: 645px;
  }
}

.date__left {
  position: relative;
  max-height: 90%;
  width: 513px;

  @media screen and (max-width: 598px) {
    width: 413px;
  }

  @media screen and (max-width: 482px) {
    width: 313px;
  }

  @media screen and (max-width: 368px) {
    width: 300px;
  }

  @media screen and (max-width: 342px) {
    width: 250px;
  }

  .creationAgence__left__border {
    bottom: -5.4%;
    height: 100%;
  }
}

.codeTyping {
  background: white;
  color: #E3775B;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  inset: 0;

  p {
    font-size: 7.6rem;
    font-family: 'Exo', 'Arial', sans-serif;
    font-weight: 900;
    text-align: center;
    max-width: 75%;
    margin-inline: auto;

    @media screen and (max-width: 1000px) {
      font-size: 5rem;
    }

    @media screen and (max-width: 800px) {
      font-size: 4rem;
    }

    @media screen and (max-width: 700px) {
      font-size: 3.5rem;
    }

    @media screen and (max-width: 600px) {
      font-size: 3rem;
    }

    @media screen and (max-width: 550px) {
      margin-inline: unset;
      max-width: 100%;
      width: 100%;
    }

    @media screen and (max-width: 375px) {
      font-size: 2.5rem;
    }

    @media screen and (max-width: 360px) {
      font-size: 2rem;
    }
  }
}

.codeTyping__container {
  width: 95%;
  margin: auto;
}

.blueBg {
  background: #15185C;
  width: 100%;
  height: 955px;
  position: absolute;
  top: 0;

  .date__left {
    position: absolute;
    left: 0;
    top: 65%;
  }

  .creationAgence__left__border {
    border-bottom: 1px solid;
    border-color: white;
    height: 100%;
    bottom: -6.4%;
    width: 92%;

    @media screen and (max-width: 771px) {
      display: none;
    }
  }

  @media screen and (max-width: 771px) {
    h2 {
      flex-direction: column;
    }
  }
}

.blueBg__container {
  width: 100%;
  height: 257%;
  background: #15185C;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  p {
    font-size: 1.9rem;
    font-weight: 300;
  }
}

.arrivee__bottom {
  position: absolute;
  bottom: -157%;
  left: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 1600px) {
    left: 6%;
  }

  @media screen and (max-width: 1500px) {
    bottom: -124%;
  }

  @media screen and (max-width: 1400px) {
    left: 1%;
  }

  @media screen and (max-width: 1300px) {
    bottom: -109%;
  }

  @media screen and (max-width: 1200px) {
    left: 0;
    right: 0;
    margin: auto;
  }

  @media screen and (max-width: 900px) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    bottom: -142%;
    gap: 3em;
  }
}

.building__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    color: black;
    background: white;
    font-size: 1.9rem;
    font-weight: 700;
    padding: 30px 40px;
  }
}

.building__container__text {
  margin-top: 31px;
  position: relative;

  img:first-of-type {
    position: absolute;
    top: -28%;
    left: 8%;
  }

  img:last-of-type {
    position: absolute;
    top: -28%;
    right: 8%;
  }
}

.circle__container__center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 177px;
  height: 177px;
  position: relative;
}

.circle__container {
  border: 1px solid white;
  border-radius: 50%;

  .circle-expand {
    background: #E3775B;
    border-radius: 50%;
    width: 0;
    height: 0;
    position: absolute;
    inset: 0;
    margin: auto;
  }
}

.chemin__red-cross {
  @media screen and (max-width: 1500px) {
    position: relative;
    left: -81px;
    bottom: 371px;
  }

  @media screen and (max-width: 1300px) {
    bottom: 345px;
  }
}

.trace-bas {
  position: relative;
  bottom: -34px;
  left: 32px;

  @media screen and (max-width: 1500px) {
    width: 843px;
    left: -39px;
    top: -304px;
  }

  @media screen and (max-width: 1300px) {
    width: 643px;
  }
}

.cube__container {
  margin-left: 4.6rem;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 20px;
    height: 20px;
  }

  div:not(:last-of-type) {
    display: flow-root;
    margin-right: 0.3em;
  }

  @media screen and (max-width: 900px) {
    margin-left: 0;
  }
}

.yellow-circle {
  margin: auto;
  border-radius: 50%;
  background: #FCD647;
  width: 677px;
  height: 677px;
}

.chemin {
  position: absolute;
  bottom: -134%;
  right: 5%;

  @media screen and (max-width: 1700px) {
    right: -1%;
  }

  @media screen and (max-width: 1300px) {
    bottom: -93%;
  }

  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.building-bottom {
  width: 300px;
  height: 300px;
}

.yellow-animation {
  width: 600px;
  height: 600px;
  margin-top: 2em;

  @media screen and (max-width: 1100px) {
    width: 500px;
    height: 500px;
  }

  @media screen and (max-width: 500px) {
    width: 300px;
    height: 300px;
  }
}
