.arianeBg {
  width: 100%;
  height: 100%;
  background: #15185C;
  position: relative;
  overflow: hidden;
}

.arianeBg__container {
  width: 95%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.arianeBg__container__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .title {
    background: white;
    padding-block: 3.1rem;
    width: 979px;
    text-align: center;
  }


  h2 {
    flex-direction: row;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;
    line-height: 1;
    position: relative;
  }

  strong {
    margin-top: 0;
    margin-bottom: 0;
    transform: rotate(90deg);
    margin-left: 6.76rem;
    position: absolute;
    right: 14%;
  }
}

.border-white__title {
  position: absolute;
  border: 1px solid white;
  z-index: 0;
  bottom: -5%;
  right: -2%;
  width: 98%;
  height: 278px;
}

.border-top {
  border-left: 10px solid;
  border-right: 10px solid;
  border-color: white;
  height: 70px;
  width: 855px;
}

.ariane__logo__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6.7rem;
}

.ariane__logo {
  position: absolute;
  inset: 0;
  margin: auto;
}

.space__ship {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
}

.space__ship__bg {
  background: linear-gradient(180deg, rgba(21, 24, 92, 1) 0%, rgba(86, 168, 170, 1) 100%);
  width: 100%;
  height: 100%;

}

.launcher {
  position: absolute;
  inset: 0;
  margin: auto;
  top: unset;
  bottom: -6%;
  animation: shake 0.8s infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  z-index: 99;
}

.movingStarShip {
  animation: shakeX 0.8s infinite;
  transform: translateX(0);
  perspective: 1000px;
  backface-visibility: hidden;
}

.to__space {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  margin: auto;
  background: linear-gradient(180deg, rgba(29, 23, 56, 1) 0%, rgba(34, 74, 94, 1) 57%, rgba(41, 156, 155, 1) 100%);
}

.star__canvas__container {
  height: 100%;
  position: relative;
  z-index: 4;
}

.sesame__logo {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1D1738;
  transform: translateY(-1600px);

  .moon__hexagone canvas {
    position: relative;
    z-index: 99;
  }
}

.moon__container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-wave {
  position: absolute;
  top: 8%;
  right: 5%;
}

.moon__hexagone {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.big__hexagone {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  margin: auto;
}

.bottom-wave {
  position: absolute;
  bottom: 8%;
  left: 5%;
}

.star__container__moon {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-4px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(4px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes shakeX {
  10%, 90% {
    transform: translateX(-4px);
  }

  20%, 80% {
    transform: translateX(4px);
  }

  30%, 50%, 70% {
    transform: translateX(-4px);
  }

  40%, 60% {
    transform: translateX(4px);
  }
}




