.detail__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.detail__motion {
  background: #E3775B;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.circle__orange__detail {
  background: #E3775B;
  position: absolute;
  inset: 0;
  margin: auto;
  border: none;
  border-radius: 100%;
}

.white__motion {
  background: white;
  position: relative;
  z-index: 2;
}

.muguet {
  position: absolute;
  bottom: 0;
  left: -12%;
}

.yellow__circle__translate {
  position: absolute;
  right: 20%;
  top: 7%;
  z-index: 1;
}

.yellow_circle {
  position: absolute;
  right: 20%;
  top: 7%;
  z-index: 1;

  div, canvas {
    position: absolute !important;
    inset: 0;
    margin: auto;
  }
}

.trompette {
  transform: translate(27%, 0%) !important;
}

.detail__title {
  position: absolute;
  top: 0;
  left: 1%;

  h2 {
    color: black;
    font-size: 8.4rem;
    font-weight: 700;
    font-family: 'Cabin', sans-serif;

    display: flex;
    justify-content: start;
    align-items: start;
    text-align: left;

    sup {
      font-size: 5rem;
    }

    span {
      background: white;
      padding: 7px 20px;

      &:last-of-type {
        padding-bottom: 25px;
      }
    }
  }
}


.vague {
  position: absolute;
  top: 0;
  right: -71%;

}

.mame__transition {
  position: absolute;
  width: 100%;
  height: 100%;
}