body {
  height: 100vh;
  overscroll-behavior: none;
}

.App {
  background: #F9EEE1;
  display: flex;
  width: 300%;
  height: 100%;
  flex-wrap: nowrap;
  overscroll-behavior: none;
}

.two {
  width: 100vw;
  height: 100vh;
}


h1 {
  font-family: 'Cabin', Arial, sans-serif;
  font-size: 8.4rem;
  color: white;
  text-transform: uppercase;
  width: fit-content;
}

p {
  font-family: 'Exo', Arial, sans-serif;
  font-size: 1.9rem;
}

.container {
  display: flex;
  width: 100%;
}
